
<ion-header>
  <ion-toolbar color="primary">
    <img id="logo" src=".././../assets/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="ionicForm" (ngSubmit)="enviar_mensaje()" novalidate> 
 
    <ion-item class="inputs" lines="none" >
      <ion-label position="stacked">Asunto</ion-label>
      <ion-input maxlength="10" formControlName="asunto" [(ngModel)] = "asunto" type="asunto" required></ion-input>
    </ion-item>
    
        <!--
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.asunto.errors?.required">
      Tienes que introducir una contraseña
    </span>
   <ion-item class="inputs" lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" [(ngModel)] = "contacto.email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Tienes que introducir un email
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Tienes que introducir un email valido
    </span>
    -->
    <ion-item class="inputs" lines="none">
      <ion-textarea rows="6" cols="20" formControlName="mensaje" [(ngModel)] = "mensaje" placeholder="Escribe tu mensaje aqui..."></ion-textarea>
    </ion-item>
    
    <ion-button class="ion-padding-horizontal ion-margin-vertical" expand="block" (click)= "crear_mensaje()">Enviar mensaje</ion-button>
      
  </form>

  </ion-content>




