
<ion-header>
  <ion-toolbar color="primary">
    <img id="logo" src=".././../assets/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-item class="inputs" lines="none" >
      <ion-label position="stacked">Asunto</ion-label>
      <ion-input maxlength="10" [(ngModel)] = "asunto" type="asunto" required></ion-input>
    </ion-item>
    
    <ion-item class="inputs" lines="none">
      <ion-textarea rows="6" cols="20" [(ngModel)] = "mensaje" placeholder="Escribe tu mensaje aqui..."></ion-textarea>
    </ion-item>
    
    <ion-button class="ion-padding-horizontal ion-margin-vertical" expand="block" (click)= "crear_mensaje()">Enviar mensaje</ion-button>
      


  </ion-content>




