

<ion-page class="ion-page" id="main-content"></ion-page>
  <ion-header>
    <ion-toolbar color="primary">
    <img id="logo" src=".././../assets/logo.png">
  </ion-toolbar>
  </ion-header>
<ion-content padding>
  <ion-card>
    <ion-profile-pic>
      <img id="imagen_perfil" src="./assets/imgs/perfil.png">
    </ion-profile-pic>

    <ion-parrafo id="user">
      <p>{{userEmail}}</p>
    </ion-parrafo>
  </ion-card>

  <ion-item lines = "none">
    <ion-input type="email" placeholder="Nuevo email" [(ngModel)]="correo"></ion-input>
  </ion-item>
    
  
  <ion-button class="ion-padding-horizontal" expand="block" (click)="perfil()">Cambiar email</ion-button>
    

  <ion-item lines = "none">
    <ion-input type="password" placeholder="Nueva contraseña" [(ngModel)]="contrasena"></ion-input>
  </ion-item>
    
  
  <ion-button class="ion-padding-horizontal" expand="block" (click)="password()">Cambiar contraseña</ion-button>
   
</ion-content>
<ion-footer>
  <div class="footer">
    <ion-button color="danger" expand="block" (click)="logout()">Cerrar sesión</ion-button>
  </div>
</ion-footer>



