

<ion-page class="ion-page" id="main-content"></ion-page>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>GO EAT NOW</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <ion-card>
    <ion-profile-pic>
      <img src="./assets/imgs/perfil.png">
    </ion-profile-pic>

    <ion-parrafo>
      <p>¡Un GoEater apareció!</p>
    </ion-parrafo>
  </ion-card>

  <ion-item>
    <ion-input type="email" placeholder="Nuevo email" [(ngModel)]="correo"></ion-input>
  </ion-item>
    
  <ion-row>
    <ion-col>
      <ion-button class="botonform" expand="block" (click)="perfil()">Cambiar email</ion-button>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-input type="password" placeholder="Nueva contraseña" [(ngModel)]="contrasena"></ion-input>
  </ion-item>
    
  <ion-row>
    <ion-col>
      <ion-button class="botonform" expand="block" (click)="password()">Cambiar contraseña</ion-button>
    </ion-col>
  </ion-row>
  <hr>
  <ion-button color="danger" (click)="logout()" class="botonform" id="boton_logout">Salir</ion-button>
</ion-content>



