.inputs{
    margin-left: 25%;
    margin-right: 25%;
    margin-top:2%;
}

.botonform{
  padding-left: 25%;
  margin-top: 2%;
  width: 75%;
}

.login_menu{
    --ion-item-color: var(--ion-color-secondary);
  
  }
  
.active{
    --ion-text-color: var(--ion-color-primary);
    ion-icon{
      --ion-text-color-rgb: var(--ion-color-primary);
    }
}

.ion-parrafo{
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
}

.ion-titulo{
    font-size: 70px;
    text-align: center;
    margin-top: 2%;
}

.ion-thumbnail{
    width: 185px;
    height: 180px;
    margin: auto;
    align-self: center;
}

.ion-avatar{
    width: 185px;
    height: 180px;
    margin: auto;
}

.ion-item{
    margin-left: 25%;
    margin-right: 25%;
    margin-top:2%;
}

.ion-button{
    padding-left: 25%;
    margin-top: 2%;
    width: 75%;
}

.ion-title{
    margin-left: 25%;
}