<ion-content padding>

  

  <ion-card>

    <ion-avatar item-start>
      <img src="./assets/imgs/perfil.png">
    </ion-avatar>

    <ion-parrafo>
      <p>¡Un GoEater apareció!</p>
    </ion-parrafo>
    
    <ion-images>
      <img src="./assets/imgs/food.png">
      <ion-parrafo>
        <p>En GoEatNow nos adaptamos a las dificultades y hemos creado una app maravillosa.</p>
    </ion-parrafo>
      
      <img src="./assets/imgs/restaurant.png">
      <ion-parrafo>
        <p>Hemos creado una app para localizar bares y restaurantes a tu alrededor y saber la ocupación.</p>
    </ion-parrafo>
    
      <img src="./assets/imgs/location.png">
      <ion-parrafo>
        <p>Para que la app fncione necesitará que tenga permisos de geolocalización</p>
    </ion-parrafo>
    </ion-images>

  </ion-card>

</ion-content>

<ion-item>  
  <p>Desde GoEatNow también luchamos contra el COVID-19.</p> 

  <ion-thumbnail> 
    <img src="./assets/imgs/covid.png"> 
  </ion-thumbnail> 

</ion-item>


