<ion-header>
  <ion-toolbar color="primary">
    <img id="logo" src=".././../assets/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9" size-md>
        <ion-searchbar placeholder="Buscar restaurante..." (ionChange)="findPlace($event)" [debounce]="500"></ion-searchbar>
      </ion-col>

      <ion-col size="3" size-md>
          <ion-button  (click)="startTracking()" color="success" *ngIf="!isTracking">
            <ion-icon name="locate" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button  (click)="stopTracking()" color="warning" *ngIf="isTracking">
            <ion-icon name="locate" slot="icon-only"></ion-icon>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="direction">
    <ion-card *ngFor="let route of direction.routes; let i = index;">
      <ion-card-header>
        <ion-card-subtitle>{{ route.legs[0].duration.text }}</ion-card-subtitle>
        <ion-card-title>{{ route.legs[0].distance.text }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="pickRoute(i)">Pick Route</ion-button>
        <ion-button (click)="openNativeRoute(route)">Show native Route</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div #map id="map"></div>
  <ion-button expand="block" (click)="toggleMarker()">¿Dónde estas?</ion-button>
  <ion-button expand="block" (click)="showNearby()">Mostrar bares alrededor</ion-button>

  
  

  <div style="width:100%; height:50%">
    <ion-list *ngFor="let place of places; let i = index">
    <ion-item *ngIf="i < 3">
      <ion-card>
        <ion-card-header>
            <ion-card-title>{{place.name}}</ion-card-title>
          </ion-card-header>
        <ion-card-content>
           Valoracion: {{place.rating}}/5 - 
           Ocupacion: Desconocida
           <ion-button expand="block" (click)="insertar_este_lugar(place)">¿Estás aquí?</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
    </ion-list>
  </div>

</ion-content>