
<ion-page class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Logo_app</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>  
  
      <ion-searchbar></ion-searchbar>
      <div #map id="map"></div>
      <div style="width : 100% ;height: 50%">
        <ion-list *ngFor="let place of places; let i = index">
        <ion-item *ngIf="i < 3">
          <ion-card >
            <ion-card-header>
                <ion-card-title>{{place.name}}</ion-card-title>
              </ion-card-header>
            <ion-card-content>
               Valoracion: {{place.rating}}/5 - 
               Ocupacion: Desconocida
            </ion-card-content>
          </ion-card>
        </ion-item>
        </ion-list>
      </div>
    </ion-content>
</ion-page>
