<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="contenedor">
  <ion-item>
    <ion-label position="floating">Email / Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox></ion-checkbox> <ion-label>Recordar usuario</ion-label>
  </ion-item>
  <ion-button>Iniciar sesión</ion-button>
  <ion-button color="secondary" routerLink="/registro" >¿Aún no estas  registrado?</ion-button>
  
</ion-content>
