<ion-header>
  <ion-toolbar color="primary">
    <img id="logo" src=".././../assets/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content class="login_form">
  <form [formGroup]="ionicForm" (ngSubmit)="iniciar()" novalidate>
 
    <ion-item lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" [(ngModel)]="usuario.email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Tienes que introducir un email
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Tienes que introducir un email valido
    </span>
 
    <ion-item lines="none">
      <ion-label position="stacked">Password</ion-label>
      <ion-input maxlength="10" formControlName="password" [(ngModel)]="usuario.password" type="password" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Tienes que introducir una contraseña
    </span>
 
    
    <ion-button class="ion-padding-horizontal" id="boton_login" type="submit" expand="block">Iniciar sesión</ion-button>
      
  </form>
  <ion-button class="ion-padding-horizontal" id="boton_login_res"color="secondary" expand="block" routerLink="/registro" >¿Aún no estas  registrado?</ion-button>
  
</ion-content>
