<ion-header>
  <ion-toolbar>
    <ion-title>Registro usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox></ion-checkbox><ion-label>¿Eres un restaurante?</ion-label>
  </ion-item>
  <ion-button>Registrate</ion-button>
</ion-content>
