<ion-header>
  <ion-toolbar>
    <ion-title>Registro usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="usuario.email" name="email" required="required"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password" name="password" required="required"></ion-input>
  </ion-item>
  <ion-item>
  <ion-checkbox (click)="addValue($event)" [(ngModel)]="checked"></ion-checkbox><ion-label>¿Eres un restaurante?</ion-label>
  </ion-item>
  <ion-item *ngIf="checked">
    <ion-label position="floating">CIF</ion-label>
    <ion-input></ion-input>
    </ion-item>
      <ion-item *ngIf="checked">
        <ion-label position="floating">Aforo restaurente</ion-label>
        <ion-input></ion-input>
        </ion-item>
  <ion-button (click)="registrar()">Registrate</ion-button>
</ion-content>
